<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>There is an issue with the site configuration</h3>
    <a routerLink="/">Home</a>
  </div>
</div>

<h2>Login</h2>
<p>
  This component allows you to login to a site so you can access a
  client/organisations quotes/policies
</p>
<certua-insurance-login
  [referrerSiteCode]="config?.referrerId"
  (loginSuccess)="setLoginSuccess($event)"
></certua-insurance-login>

<div
  class="col-md-12"
  *ngIf="loginSuccess"
>
  <div class="alert alert-success">You are already logged in</div>
</div>

<div>
  <h4>Example code</h4>
  <pre><code>
  &lt;certua-ae-login  [referrerSiteCode]="config.referrerId"
  (loginSuccess)="setLoginSuccess($event)"
  (loginFailure)="setLoginFailure($event)"
  &lt;/certua-ae-login &gt;
  </code>
</pre>
  <h4>Component specific inputs</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Property Name</th>
        <th>Mandatory</th>

        <th>Description</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
