<div class="row" *ngIf="showError">
  <div class="col">
    <h3>There is an issue with the site configuration</h3>
    <a routerLink="/">Home</a>
  </div>
</div>
<div class="row" *ngIf="!showError">
  <h2>View Policy v2</h2>
  <p>
    This component displays the active policy for the supplied
    client/organisation id
  </p>

  <certua-insurance-view-policy
    *ngIf="loaded"
    [config]="config"
    [accesstoken]="accessToken"
    [clientId]="clientId"
    [organisationId]="organisationId"
    (makeAClaim)="goToMakeAClaim($event)"
    (goToQuoteAndBuy)="goToQuoteAndBuy($event)"
  >
  </certua-insurance-view-policy>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-insurance-view-policy
    *ngIf="loaded"
     [config]="config"
     [accesstoken]="accessToken"
     [clientId]="clientId"
     [organisationId]="organisationId"
     (makeAClaim)="goToMakeAClaim($event)"
     (goToQuoteAndBuy)="goToQuoteAndBuy($event)"
    &lt;/certua-insurance-view-policy &gt;
    </code>
  </pre>
  <h4>Output events</h4>
  <table class="table">
    <thead>
      <th>Event Name</th>
      <th>Data</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>makeAClaim</td>
        <td>
          <code>{{ makeAClaimJson | json }}</code>
        </td>
        <td>
          User has clicked make a claim button (if present- this is a product
          config setting), this emits the prefill info which can be used to
          prepopulate the FNOL claim form
        </td>
      </tr>
      <tr>
        <td>goToQuoteAndBuy</td>
        <td>
          <code>{{ goToQuoteAndBuyJson | json }}</code>
        </td>
        <td>xxxxxxxx</td>
      </tr>
    </tbody>
  </table>
  <!-- <pre> <code>{{ JSON.stringify(quickQuoteJson) }}</code></pre> -->

  <h4>Component specific inputs</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Property Name</th>
        <th>Mandatory</th>

        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td>clientId</td>
          <td>If entity type is Individual</td>
          <td>Pass clientId if entity type is Individual</td>
        </tr>
        <tr>
          <td>organisationId</td>
          <td>If entity type is Organisation</td>
          <td>Pass organisationId if entity type is Organisation</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-insurance-common-inputs
    [quoteAndBuy]="true"
  ></app-insurance-common-inputs>
</div>
