<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <div
      class="row"
      *ngIf="step == Step.AccessToken"
    >
      <div class="col text-left">
        <h3 class="mt-3">First, we need an access token</h3>
        <div class="text-start">
          <label
            for="username"
            class="form-label"
            >Country</label
          >
          <select
            id="country"
            class="form-select"
            [(ngModel)]="countryCode"
          >
            <option value="UK">United Kingdom</option>
            <option value="AU">Australia</option>
          </select>
          <label
            for="username"
            class="form-label"
            >Username</label
          >
          <input
            id="username"
            type="text"
            class="form-control"
            [(ngModel)]="username"
          />
          <label
            for="password"
            class="label"
            >Password</label
          >
          <input
            id="password"
            type="password"
            [(ngModel)]="password"
            class="form-control"
          />

          <button
            class="btn btn-primary mt-2"
            (click)="getAccessToken()"
          >
            Get Token
          </button>
        </div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="step == Step.ContextToken"
    >
      <div class="col">
        <h3>Now we can get a context token using that access token</h3>
        <div class="text-start">
          <label
            for="contextToken"
            class="form-label"
            >Access Token</label
          >
          <input
            id="contextToken"
            type="text"
            class="form-control"
            [(ngModel)]="accessToken"
          />
          <label
            for="userReference"
            class="form-label"
            >User Reference</label
          >
          <input
            id="userReference"
            type="text"
            class="form-control"
            [(ngModel)]="userReference"
          />
          <div class="mt-3">
            <button
              class="btn btn-outline-primary me-2"
              (click)="back(Step.AccessToken)"
            >
              Back
            </button>
            <button
              class="btn btn-primary"
              (click)="getContextToken()"
            >
              Get Context Token
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row"
      *ngIf="step == Step.Styles"
    >
      <div class="col">
        <h3>Now, choose some colours</h3>
        <div class="text-start">
          <label
            for="primary"
            class="form-label"
            >Primary</label
          >
          <input
            id="primary"
            type="text"
            class="form-control"
            [(ngModel)]="primaryColor"
          />
          <label
            for="secondary"
            class="label"
            >Secondary</label
          >
          <input
            id="secondary"
            type="text"
            [(ngModel)]="secondaryColor"
            class="form-control"
          />
          <div class="mt-3">
            <button
              class="btn btn-outline-primary me-2"
              (click)="back(Step.ContextToken)"
            >
              Back
            </button>
            <button
              class="btn btn-primary"
              (click)="setStyles()"
            >
              Set styles
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row"
      *ngIf="step == Step.DaasUrl"
    >
      <div class="col">
        <h3>Do you need to use a custom Daas URL?</h3>
        <p>
          Some consumers need to load their own version of our DaaS components
          from their own CDN, to do this enter the absolute URL to the script
          file in the box below, otherwise choose 'Use Certua Defaults'
        </p>
        <button
          class="btn btn-secondary mt-2 ms-2"
          (click)="useDefaultUrl()"
        >
          No, use Certua Defaults
        </button>
        <div class="text-start">
          <label
            for="daasUrl"
            class="form-label"
            >Daas URL</label
          >
          <input
            id="daasUrl"
            type="text"
            class="form-control"
            [(ngModel)]="daasUrl"
          />

          <button
            class="btn btn-outline-primary mt-2"
            (click)="back(Step.Styles)"
          >
            Back
          </button>
          <button
            class="btn btn-primary mt-2 ms-2"
            (click)="setUrl()"
          >
            Set URL
          </button>
        </div>
      </div>
    </div>
    <div
      class="row"
      *ngIf="step == Step.Success"
    >
      <div class="col">
        <h3>Success you can now using Open banking elements</h3>

        <button
          class="btn btn-link"
          [routerLink]="'/components/connect'"
        >
          Go to the components
        </button>
        <button
          class="btn btn-secondary mt-2 ms-2"
          (click)="startAgain()"
        >
          Start again
        </button>
      </div>
    </div>
    <div
      class="row"
      *ngIf="step == Step.Error"
    >
      <div class="col">
        <h3>Something went wrong. Please try again</h3>
        <button
          class="btn btn-primary mt-3"
          (click)="reset()"
        >
          Try again
        </button>
      </div>
    </div>
  </div>
</div>
