<div
  class="row"
  *ngIf="!showError"
>
  <h2>Connect Accounts</h2>
  <p>
    This component can be used to show the currently connected banks and to
    allow then to connect new banks.
  </p>
  <div class="row">
    <div class="col-md-12">
      <certua-ob-connect
        [contentOverrides]="contentOverrides"
        [contextData]="contextTokenOptions"
        [redirectionConfig]="redirectionConfig"
        [startingPhase]="'AccountList'"
      >
        <span
          slot="button"
          class="ml-auto"
        ></span>
      </certua-ob-connect>
    </div>
  </div>
</div>
<div class="mt-4">
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-connect
      [contentOverrides]="contentOverrides"
      [contextData]="contextData"
       [redirectionConfig]="redirectionConfig"
    &lt;/certua-ob-connect&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>contextData</td>
        <td>Yes</td>
        <td>
          This is a JSON string which contains your context token and user
          reference. <br /><code>
            {{
              '{"contextToken":"FF5D16AAE1ED74E4C8F0E8B6D9E2EB06","ownerId":"1","dateCreated":"2023-03-20T11:17:24.121Z"}'
            }}
          </code>
        </td>
      </tr>
      <tr>
        <td>contentOverrides</td>
        <td>No</td>
        <td>
          This is a JSON string which contains any text overrides that you want
          to pass to the information screens/modals<br /><code>
            {{ contentOverrides | json }}
          </code>
        </td>
      </tr>
      <tr>
        <td>daasURL</td>
        <td>No</td>
        <td>
          You can provide a full url to where you have deployed the daas
          elements library. This can be used when it is not possible to use the
          default cdn url hosted by Certua.
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
