<div
  class="row"
  *ngIf="!showError"
>
  <h2>Connect Accounts</h2>
  <p>
    This component can be used to show the currently connected banks and to
    allow then to connect new banks.
  </p>
  <div class="row">
    <div class="col-md-12">
      <certua-ob-connect
        [contentOverrides]="contentOverrides"
        [contextData]="contextTokenOptions"
        [redirectionConfig]="redirectionConfig"
        [startingPhase]="'AccountList'"
      >
        <span slot="button" class="ml-auto"></span>
      </certua-ob-connect>
    </div>
  </div>
</div>
<div class="mt-4">
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-connect
      [contentOverrides]="contentOverrides"
      [redirectionConfig]="redirectionConfig"
      [contextData]="contextData"&gt;
      [startingPhase]="'InstitutionSelection'"
      [daasUrl]="daasUrl"
    &lt;/certua-ob-connect&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody appCommonInputs>
      <tr>
        <td>contentOverrides</td>
        <td>No</td>
        <td>
          This is a JSON string which contains any text overrides that you want
          to pass to the information screens/modals<br /><code>
            {{ contentOverrides | json }}
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
