<h4>Common inputs</h4>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr *ngIf="quoteAndBuy">
        <td><code>config</code></td>
        <td>Yes</td>
        <td>
          This contains information on the site you are integrating the quote
          and buy journey integration<br /><code>{{ config | json }}</code>
        </td>
      </tr>

      <tr *ngIf="!quoteAndBuy">
        <td><code>referrerSiteCode</code></td>
        <td>Yes</td>

        <td>This is a string containing the Guid of your referrerSiteCode</td>
      </tr>
    </tbody>
  </table>
</div>
