@if (showError) {
  <div
    class="row"
    >
    <div class="col">
      <h3>There is an issue with the site configuration</h3>
      <a routerLink="/">Home</a>
    </div>
  </div>
}
@if (!showError) {
  <div
    class="row"
    >
    <h2>Claims</h2>
    <p>This component displays the Claim Information</p>
    <p>
      The documentation for this component can be found at
      <a
        target="_blank"
      [href]="
        environment.docsUrl + '/via-web-components/insurance-elements/claims'
      "
        >{{
        environment.docsUrl + '/via-web-components/insurance-elements/claims'
        }}</a
        >
      </p>
      @if (!!loaded) {
        <certua-insurance-claims-information
          [referrerSiteCode]="config?.referrerId"
          [showClaimButton]="true"
          (makeAClaim)="goToClaim()"
        ></certua-insurance-claims-information>
      }
    </div>
  }

  <div class="mt-3">
    <h4>Example code</h4>
    <pre><code>
      &lt;certua-insurance-claims-information
      [referrerSiteCode]="config?.referrerId"
      [showClaimButton]="true"
      &lt;/certua-insurance-claims-information &gt;
    </code>
  </pre>
  <h4>Component specific inputs</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Property Name</th>
        <th>Mandatory</th>

        <th>Description</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <app-insurance-common-inputs></app-insurance-common-inputs>
</div>
