<div class="row" *ngIf="!showError">
  <h2>Account summary list</h2>
  <p>
    This component can be used to show an overview of all connected accounts
  </p>
  <certua-ob-account-summary-list
    [contextData]="contextTokenOptions"
    [daasUrl]="daasUrl"
  >
  </certua-ob-account-summary-list>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-account-summary-list 
    [daasUrl]="daasUrl"
      [contextData]="contextData"&gt;
    &lt;/certua-ob-account-summary-list&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody appCommonInputs>
      <tr>
        <td>sortOptions</td>
        <td>No</td>
        <td>
          This is JSON which allows you to set the sortFieldName and sortOrder.
          Currently limited to sortFieldName must be 'balance' and sortOrder
          'asc' or 'desc'. If this is not passed then they are ordered by
          Provider name
          <br />
          <code> {{ sortOptions | json }} </code>
        </td>
      </tr>
      <tr>
        <td>limitTo</td>
        <td>No</td>
        <td>
          This is an integer that controls how many accounts are shown.
          <br />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row" *ngIf="showError">
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
