<div class="row" *ngIf="!showError">
  <h2>Account summary list</h2>
  <p>
    This component can be used to show an overview of all connected accounts
  </p>
  <certua-ob-account-summary-list
    [contextData]="contextTokenOptions"
    [daasUrl]="daasUrl"
  >
  </certua-ob-account-summary-list>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-account-summary-list 
    [daasUrl]="daasUrl"
      [contextData]="contextData"&gt;
    &lt;/certua-ob-account-summary-list&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>contextData</td>
        <td>Yes</td>
        <td>
          This is a JSON string which contains your context token and user
          reference. <br /><code>
            {{
              '{"contextToken":"FF5D16AAE1ED74E4C8F0E8B6D9E2EB06","ownerId":"1","dateCreated":"2023-03-20T11:17:24.121Z"}'
            }}
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row" *ngIf="showError">
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
