<div class="row" *ngIf="showError">
  <div class="col">
    <h3>There is an issue with the site configuration</h3>
    <a routerLink="/">Home</a>
  </div>
</div>
<div class="row" *ngIf="!showError">
  <h2>Policies List</h2>
  <p>This component displays Policies for the logged in client/organisation</p>
  <ae-quote-and-buy-policies-list
    [referrerSiteCode]="config?.referrerId"
    [accesstoken]="accessToken"
    [clientId]="clientId"
    [organisationId]="organisationId"
    (viewPolicyJourney)="viewPolicy($event)"
  >
  </ae-quote-and-buy-policies-list>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;ae-quote-and-buy-policies-list 
    [referrerSiteCode]="config.referrerId"
    [accesstoken]="accessToken"
    [clientId]="clientId"
    [organisationId]="organisationId"

    &lt;/ae-quote-and-buy-policies-list  &gt;
    </code>
  </pre>
  <h4>Component specific inputs</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Property Name</th>
        <th>Mandatory</th>

        <th>Description</th>
      </thead>

      <tbody>
        <tr>
          <td>clientId</td>
          <td>If entity type is Individual</td>
          <td>Pass clientId if entity type is Individual</td>
        </tr>
        <tr>
          <td>organisationId</td>
          <td>If entity type is Organisation</td>
          <td>Pass organisationId if entity type is Organisation</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
