#header {
  font-size: 15px;
  font-weight: 700;
}

#sidebar {
  font-size: 14px;
  .list-group-item {
    border: none !important;
    border-radius: 2px !important;
    font-weight: 700 !important;

    &.active {
      background: #007fc626 !important;
      color: #007fc6;
    }
  }
}
