<div class="container-fluid">
  <div class="row bg-grey border-bottom" id="header">
    <div class="col px-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <div class="d-flex justify-items-center">
              <img (click)="removeType()" src="assets/certua.png" /></div
          ></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a
                  [routerLink]="'/home'"
                  routerLinkActive="text-primary"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="nav-link"
                  >Home</a
                >
              </li>
              <li class="nav-item" *ngIf="!!elementType">
                <a
                  [routerLink]="'/components'"
                  routerLinkActive="text-primary"
                  [routerLinkActiveOptions]="{ exact: false }"
                  class="nav-link"
                  >Components</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row" id="sidebar">
    <div class="col-md-3 border-end" *ngIf="showNavigation">
      <div class="list-group mt-4" *ngIf="elementType == 'open-banking'">
        <p>Open Banking Components</p>
        <a
          routerLink="/components/connect"
          class="list-group-item"
          routerLinkActive="active"
          >Connect</a
        >
        <a
          routerLink="/components/manage-connections"
          routerLinkActive="active"
          class="list-group-item"
          >Manage Connections</a
        >
        <a
          routerLink="/components/account-summary"
          routerLinkActive="active"
          class="list-group-item"
          >Account Summary
        </a>
        <a
          routerLink="/components/transactions"
          routerLinkActive="active"
          class="list-group-item"
          >Transactions</a
        >
        <a
          routerLink="/components/cashflow"
          routerLinkActive="active"
          class="list-group-item"
          >Cashflow</a
        >
      </div>
      <div class="list-group mt-4" *ngIf="elementType == 'insurance'">
        <p>Insurance Components</p>
        <a
          routerLink="/components/quote-and-buy"
          class="list-group-item"
          routerLinkActive="active"
          >Quote and Buy</a
        >
      </div>
      <nav></nav>
    </div>
    <div class="col mt-4">
      <router-outlet></router-outlet>
      <app-common-inputs
        *ngIf="showNavigation && elementType == 'open-banking'"
      ></app-common-inputs>
    </div>
  </div>
</div>
