<div
  class="row"
  *ngIf="!showError"
>
  <h2>Manage connections</h2>
  <p>
    This component can be used to view connected accounts, refresh consent or
    disconnect
  </p>
  <certua-ob-manage-connections
    [contentOverrides]="contentOverrides"
    [contextData]="contextTokenOptions"
    [showAddButton]="false"
    [showTitle]="false"
    [daasUrl]="daasUrl"
  >
  </certua-ob-manage-connections>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-manage-connections
      [contentOverrides]="contentOverrides"
      [contextData]="contextData"
      [showTitle]="false"
      [daasUrl]="daasUrl"
      [showAddButton]="false"&gt;

    &lt;/certua-ob-manage-connections&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody appCommonInputs>
      <tr>
        <td>contentOverrides</td>
        <td>No</td>
        <td>
          This is a JSON string which contains any text overrides that you want
          to pass to the information screens/modals<br /><code>
            {{ contentOverrides | json }}
          </code>
        </td>
      </tr>
      <tr>
        <td>showTitle</td>
        <td>No</td>
        <td>
          This will show or hide the web components title (Open Banking
          Connected Accounts)
        </td>
      </tr>
      <tr>
        <td>showAddButton</td>
        <td>No</td>
        <td>
          This controls if the Add Account button is shown above the currently
          connected accounts.
        </td>
      </tr>
      <tr>
        <td>daasURL</td>
        <td>No</td>
        <td>
          You can provide a full url to where you have deployed the daas
          elements library. This can be used when it is not possible to use the
          default cdn url hosted by Certua.
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
