<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>There is an issue with the site configuration</h3>
    <a routerLink="/">Home</a>
  </div>
</div>
<div
  class="row"
  *ngIf="!showError"
>
  <h2>Quote and buy</h2>
  <p>This component displays a Quote and buy Journey</p>
  <certua-insurance-quote-and-buy
    [config]="config"
    *ngIf="!!loaded"
    [useCertuaAuth]="true"
  ></certua-insurance-quote-and-buy>
</div>

<div>
  The documentation for this component can be found at
  <a
    target="_blank"
    [href]="environment.docsUrl + '/via-web-components/quote-and-buy/overview'"
    >{{ environment.docsUrl + '/via-web-components/quote-and-buy/overview' }}</a
  >
</div>

<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-insurance-quote-and-buy
      [config]="config"
    &lt;/certua-insurance-quote-and-buy &gt;
    </code>
  </pre>
  <h4>Component specific inputs</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Property Name</th>
        <th>Mandatory</th>

        <th>Description</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <app-insurance-common-inputs
    [quoteAndBuy]="true"
  ></app-insurance-common-inputs>
</div>
