<div
  class="row"
  *ngIf="!showError"
>
  <h2>Transactions</h2>
  <p>This component can be used to list and search a users transactions</p>
  <certua-ob-transactions
    [contextData]="contextTokenOptions"
    [showAddButton]="false"
    [daasUrl]="daasUrl"
  >
  </certua-ob-transactions>
</div>
<div>
  <h4>Example code</h4>
  <pre><code>
    &lt;certua-ob-transactions 
    [daasUrl]="daasUrl"
      [contextData]="contextData"&gt;
    &lt;/certua-ob-transactions&gt;
    </code>
  </pre>
  <table class="table">
    <thead>
      <th>Property Name</th>
      <th>Mandatory</th>
      <th>Description</th>
    </thead>
    <tbody appCommonInputs></tbody>
  </table>
</div>
<div
  class="row"
  *ngIf="showError"
>
  <div class="col">
    <h3>You do not have a context token</h3>
    <a [routerLink]="'/'">Home</a>
  </div>
</div>
