@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "bootstrap/scss/functions";

/* You can add global styles to this file, and also import other style files */
$primary: #007fc6;
$secondary: #5c636a;
$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": #ff4136,
  "grey": #f4f5f7,
) !default;

/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
.btn-primary {
  color: white !important;
}

body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
}
h2 {
  font-size: 24px;
}
code {
  color: #d63384 !important;
}
.pointer {
  cursor: pointer;
}
#arrow-left {
  position: absolute;
  left: 0;
  z-index: 999;
  background-color: white;
}
#arrow-right {
  position: absolute;
  right: 0;
  z-index: 999;
  background-color: white;
}
.element-box {
  height: 150px;
}

.font-weight-bold {
  font-weight: 700;
  color: #000;
}

i {
  color: #007fc6 !important;
}

.subtitle {
  font-size: 24px !important;
}

.circle-icon {
  background: #e5f6ff;

  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 0 0 0;
  display: flex;
  padding: 3px;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}


